@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.appbody{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
}

.menu{
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color:whitesmoke;
  height: 100vh;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, color */
}

.chatarea{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  background-image: url("/chatbg.jpg");
  opacity: 60%;
}

.logo{
  display: flex;
  align-items: center;
  box-shadow: 0 4px 2px -2px gray; 
}

.avatar{
  height: 75px;
  width: 75px;
}


.heading{
  color: rgba(12,135,205,255);
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}



.options{
  display: flex;
  align-items: center;
  
  padding: 10px;
}




.contacts{
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}



form{
  display: flex;
}

.textarea{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding: 20px;
}

.signin-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  
}
